.storeDetail {
  display: flex;
  flex-direction: column;
  background-color: #ececec;
}

.scrollImg {
  min-height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: antiquewhite;
  padding: 0 10px;
  overflow: hidden;
}

.scrollImg > div {
  background-color: aliceblue;
  height: 100%;
  transition: transform 0.5s ease;
  &.active {
    transform: translateX(0);
  }
  &:not(.active) {
    transform: translateX(100%);
  }
}

.scrollImg > svg {
}
.storeInfo {
  margin-bottom: 10px;
}

.menuCategory {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  background-color: white;
  margin-bottom: 10px;
}

.menuCategory > h3 {
  margin: 0;
  padding-top: 16px;
}
