.storeDetail {
  display: flex;
  flex-direction: column;
  background-color: #ececec;
}

.scrollImg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.scrollImg > img {
  /* height: 100%; */
  transition: transform 0.5s ease;
  &.active {
    transform: translateX(0);
  }
  &:not(.active) {
    transform: translateX(100%);
  }
}

.scrollImg > svg {
  z-index: 10;
}
.slide {
  display: flex;
  transition: transform 0.5s ease;

  &.active {
    transform: translateX(0);
  }
  &:not(.active) {
    transform: translateX(100%);
  }
}

.storeInfo {
  margin-bottom: 10px;
}

.menuCategory {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  background-color: white;
  margin-bottom: 10px;
}

.menuCategory > h3 {
  margin: 0;
  padding-top: 16px;
}
