.overlay {
  height: 100vh;
  width: 100%;
  z-index: 9999;
  max-width: 450px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 26px;
  border-radius: 20px;
  gap: 12px;
  width: 90%;
  max-width: 450px;
  box-sizing: border-box;
}

.title {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.description {
  margin: 0;
  font-size: 14px;
  color: #777; /* 연한 회색 */
  text-align: center;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 16px;
}

.cancelButton,
.actionButton {
  background-color: white;
  border: none;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.cancelButton {
  color: red;
}

.actionButton {
  color: #6299fe;
}