.storeItem {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
  border-bottom: 1px solid #d7d7d7;
}

.storeInfo {
  display: flex;
  gap: 10px;
}

.storeImg {
  background-color: blue;
  width: 80px;
  height: 80px;
  border-radius: 8px;
  overflow: hidden;
  flex-shrink: 0;
}

.storeImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title > h4 {
  margin: 0;
}

.description {
  font-size: 12px;
  color: #9f9f9f;
  margin: 6px 0;
  white-space: normal;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.status {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}

.status.opened {
  color: #6299fe; /* 영업중일 때 글자색 */
}

.status.closed {
  color: #626161; /* 영업 종료일 때 글자색 */
}

.storeInfoImageUrl {
  display: flex;
  width: 100%;
  overflow-x: auto; /* 가로 스크롤 활성화 */
  gap: 10px;
  padding: 10px 0;
}

.storeInfoImageUrl::-webkit-scrollbar {
  display: none; /* 스크롤바 숨김 */
}

.storeInfoImageUrlItem {
  flex: 0 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #d7d7d7;
}

.storeInfoImageUrlItem img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 이미지 비율 유지 */
}
