@keyframes skeleton-loading {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

.skeletonStoreInfo {
  display: flex;
  flex-direction: column;
  padding: 18px;
  gap: 6px;
}

.skeletonTitle {
  height: 28px;
}

.skeletonDescription {
  height: 20px;
}

.skeletonTitle,
.skeletonDescription {
  margin: 0;
  background: linear-gradient(90deg, #ececec 35%, #f5f5f5 50%, #ececec 65%);
  background-size: 200% auto;
  animation: skeleton-loading 1.5s infinite linear;
  border-radius: 4px;
}
